@(session: ThinkingSession, cards: List[Card], buckets: List[Bucket], hat: Hat, user: User, creationEvent: Option[Event])

@main(session.title, hat) {

<div class="row">

	<div class="well" id="progressbar">
		@progressbar.render
	</div>                

	<div id="hat" class="@hat.name.toLowerCase">

		<script type="text/javascript">
			@creationEvent match {
			  case Some(event) => {
			  	var CREATION_TIME = @event.time.getTime();
				var CREATOR_NAME = "@event.userName";
			  }
			  case None => {
			    var CREATION_TIME = new Date();
				var CREATOR_NAME = "Unknown";
			  }
			}		
			var CARDS = @Html(Card.listToJson(cards).toString);

			var BUCKETS = @Html(Bucket.listToJson(buckets).toString);

			
			var SESSION_ID = @session.id;
			var HAT = "@hat.name.toLowerCase";
			var WSURI = "ws://" + window.location.host + "/wamp";
			var CALL_URI = "http://sixhats.com/cards";
			var USER_NAME = "@user.name";
			var USER_ID = "@user.id";
			var CREATOR = @session.isOwner(user);
			var TOOLTIPS = {
				"white": "The White Hat calls for information known or needed. The facts, just the facts.",
				"yellow": "The Yellow Hat symbolizes brightness and optimism. Under this hat you explore the positives and probe for value and benefit.",
				"red": "The Red Hat signifies feelings, hunches and intuition. When using this hat you can express emotions and feelings and share fears, likes, dislikes, loves, and hates.",
				"blue": "The Blue Hat is used to manage the thinking process. It's the control mechanism that ensures the Six Thinking Hats guidelines are observed.",
				"black": "The Black Hat is judgment - the devil's advocate or why something may not work. Spot the difficulties and dangers; where things might go wrong.",
				"green": "The Green Hat focuses on creativity; the possibilities, alternatives, and new ideas. It's an opportunity to express new concepts and new perceptions."
			};
		</script>

		<div id="hat-feed" class="well col-md-3">
			@hatfeed.render
		</div>

		<div id="hat-cards" class="col-md-9">

			<div class="row" id="card-create">
				<div class="form-group">
					<div class="col-xs-6">
						<input data-toggle="popover" data-placement="bottom" data-trigger="manual" type="text"
						class="form-control" name="content" id="content" placeholder="Add new Card"/>
					</div>

					<button type="button" class="btn btn-success" id="btnAddCard">
						Add Card
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<button type="button" class="btn btn-info pull-right" id="indicate-ready">
						Move to next Hat
						<span class="glyphicon glyphicon-forward"></span>
					</button>
					<button type="submit" class="btn btn-info pull-right hide" id="indicate-finish">Finish Session</a>
				</div>
			</div>

			<div id="cards" class="well">
				@if(cards.isEmpty) {
					<div id="nocardsyet" class="row">
						<div class="col-md-8 col-md-offset-2 alert alert-success" id="nocardsyet">
							Nobody has added any cards yet, go ahead and add some!
						</div>
					</div>
				}
				<div id="cards-list">
					<!-- generated by handlebars -->
				</div>
			</div>
			
			<div id="buckets" class="well hide">
				<div class="row">
				</div>
				<div id="buckets-list" class="row">
				
				</div>
			</div>

		</div>

	</div>

}

<div id="hatchange-modal" class="modal fade" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">You're now wearing a <span class="hat"></span> hat!</h4>
			</div>
			<div class="modal-body">
				<blockquote class="message"></blockquote>


				<div id="first-time">
					<form class="form-inline">
						<div class="form-group">
							<div class="alert alert-success">
								<label for="modal-username">It seems like this is the first time you're visiting!
									<input type="text" class="form-control" id="modal-username" placeholder="What is your name?"/>
								</label>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="modal-button" >Got it!</button>
			</div>
		</div>
	</div>
</div>


@handlebars.render

<script type="text/javascript">

	$(function() {

		window.progressBar = new ProgressBar('#progressBar');
		window.session = false;
		// default socket eventData json, will be reused but never overwritten
		window.eventData = {
			thinkingSessionId: SESSION_ID,
			userId: USER_ID,
			hat: HAT
		};

		if (CREATOR === false) {
			$('#indicate-ready, #indicate-finish').remove();
		}


		if (typeof BUCKETS !== "undefined" && BUCKETS.length > 0) {
			$(BUCKETS).each(function() {
				injectBucket(this);
			});
		}
		// setup initial card setup
		if (typeof CARDS !== "undefined" && CARDS.length > 0) {
			$(CARDS).each(function() {
				injectCard(linkify(this));
				if (HAT === "blue" && this.bucketId !== null) {
					addCardToBucket(this)
				}
			});
		}


		$('#modal-button').click(function() {
			/* new user? */
			var isNewUser = (USER_NAME === "New User");
			/* force new user to enter name */
			if (isNewUser) {
				var name = $('#modal-username');
				if (name.val() === "") {
					name.parent().addClass('has-error');
				} else {
					jsRoutes.controllers.Users.saveName().ajax({
						data : {
							"name" : name.val(),
							"thinkingSessionId" : SESSION_ID
						},
						success : function() {
							USER_NAME = name.val();
							name.parent().removeClass('has-error');
							$('#first-time').remove();
							$('#hatchange-modal').modal('hide');
						}
					});
				}
			} else {
				$('#hatchange-modal').modal('hide');
			}
		});

		$("#btnAddCard").click(function() {
			var content = $("#content").val();
			if (content.trim() === "") return; // no empty cards.

			var newCard = $.extend({}, eventData, {
				"content" : content,
				"username" : USER_NAME
			});
			window.session.call(CALL_URI + "#addCard", newCard);
			// store 
			CARDS.push(newCard);
		});

		$('#indicate-ready').click(function() {
			window.session.call(CALL_URI + "#moveHat", eventData);
		});	


		$(document).on('click', '.addbucket', function() {
			window.session.call(CALL_URI + "#addBucket", window.eventData);
		});

		$(document).on('blur', '.bucketname', function() {
			window.session.call(CALL_URI + "#renameBucket", $.extend({}, eventData, {
				name: $(this).val(),
				bucketId: $(this).data('bucketid')
			}));
		});
		$(document).on('click', 'a.fancybox', function(e) {
			e.preventDefault();
			
			var options = {
				speed : "slow",
				type: null
			};

			var $this = $(this);

			if ($this.hasClass("image")) {
				options.type = "image";
			} else {
				var href = $this.attr("href");
				if (!!~href.indexOf("youtube.com/watch?v=")) {
					$(this).attr("href", href.replace("watch?v=", "v/"));
					options.type = "swf";
				} else {
					options.type = "iframe";
				}
			}
			$.fancybox.open(this, options);
		});

		$('#indicate-finish').click(function() {
			location.href = jsRoutes.controllers.ThinkingSessions.closeSession(SESSION_ID).url;
			//"/" + SESSION_ID + "/dashboard";
		});


	});

	//set up initial tooltip
	$(window).load(function() {
		instantiateSocket();
		if (USER_NAME !== "New User") {
			$('#first-time').remove();
		}
		moveTo(HAT);
		setSessionData();
	});
</script>


	
<script type="text/javascript" src="@routes.Assets.at("js/scripts.js")?@System.currentTimeMillis"></script>
<script type="text/javascript" src="@routes.Assets.at("js/ProgressBar.js")?@System.currentTimeMillis"></script>
