@(sessionId: Long, cards: List[Card], hat: Hat)

@import helper._
@import models._
@import views._


@main("Cards") {
	
	<div id="hat">
		<div id="cards-list" class="white">
			@if(cards.isEmpty) {
				<h3>No cards yet</h3>
			} else {
				<h3>Existing Cards:</h3>
				<ul id="cards-list-ul">
					@cards.map { card =>
						<li>
							<div class="card @Hat.getHatName(card.hat.id)">
								@card.content
								by
								<i>{{user}}</i>
							</div>
						</li>
					}
				</ul>
			}
		</div>
		<div id="cards-create">
			<h3>Create a new Card here:</h3>

			@helper.form(action =routes.Cards.restFormAddCard(sessionId,hat.id), 'class -> "form-horizontal", 'id -> "card-add") {
    			<div class="form-group">
                    <input type="hidden" id="hat" name="hat" value="@hat.name" />
					<label for="content" class="control-label">Content:</label>
                    <textarea class="form-control" name="content" rows="3" required placeholder="Card content"></textarea>
                    <button type="submit" class="btn btn-success">Add Card &raquo;</button>
                </div>
            }
		</div>
	</div>
	
	<div id="progressbar">
		@progressbar.render
	</div>

	<script type="text/javascript">
	$(function() {
		addBubbleToProgressBar("white", 16);
		renderProgressOutline();
    });
	</script>
		
}
<script>
	var Cards = @Html(Card.listToJson(cards).toString);
</script>

<script id="card-template" type="text/x-handlebars-template">
	<li>
		<div data-cardid="{{id}}" class="card {{hat}}">
			{{content}}
			by
			<i>{{user}}</i>
		</div>
	</li>
</script>
