@(hatElapsedTime:List[(String, Long)], cardDetails: List[(String, List[(String, Long)])], cards: List[Card], buckets: List[Bucket])
@import models._

@main("Dashboard", null) {
<div class="row">
	<h1>Dashboard <small>Statistics Overview</small></h1>
</div><!-- /.row -->
<div class="row">
	<div class="well col-lg-12" id="progressbar">
		@progressbar.render
	</div>
</div><!-- /.row -->
<div id="hat" class="blue">
	<div style="display:none" class = "card blue"></div>
	<div style="display:none" class = "card black"></div>
	<div style="display:none" class = "card red"></div>
	<div style="display:none" class = "card green"></div>
	<div style="display:none" class = "card white"></div>
	<div style="display:none" class = "card yellow"></div>
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Bucket Thing(Not Ready Yet)</h3>
			</div>
			<div class="panel-body">
				<div id="mytest"> </div>
			</div>
		</div>	
	</div><!-- /.row -->
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Card Status for Each User</h3>
				</div>
				<div class="panel-body">
					<div id="cards-user-current-session" style="background-color:#FAEDFF;width:100%;height:300px;"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Elapsed Time Per Hat(Current Session)</h3>
				</div>
				<div class="panel-body">
					<div id="elapsed-time-chart-donut" style="background-color:#FAEDFF;width:100%;height:300px;" ></div>
				</div>
			</div>
		</div>
	</div><!-- /.row -->
	<div>
		<script>
			var hatArray = [];
			var hatColor = [];
			//var len = @hatElapsedTime.length;
			@for(hTime <- hatElapsedTime){
				var obj = {
					value: @hTime._2,
					label: '@hTime._1',
				}
				hatArray.push(obj);
				var setColor = $("#hat.blue div.card.@hTime._1.toLowerCase").css("background-color");
				hatColor.push(setColor);
			}
			Morris.Donut({
				element: 'elapsed-time-chart-donut',
				data: hatArray,
				colors: hatColor
			});	
		</script>
		<script id="source">
			$(function () {
				var cardArray1 = [];
				var resultArray1 =[];
				var labelArray = [];
				var labelArr = [];
				var m = 0;
				@for( (key, values) <- cardDetails) {
					var k = 0;
					@values.map { value =>
						cardArray1.push([k, @value._2]);
						labelArray.push([k,"@value._1.toLowerCase"]);
						k += 1;
					}
					if(m == 0){
						labelArr =labelArray.slice(0);
					}
					var setColor = $("#hat.blue div.card.@key.toLowerCase").css("background-color");
					m += 1;
					var obj = {
						data: cardArray1,
						label: '@key',
						color: setColor
					}
					resultArray1.push(obj);
					cardArray1 =[];
				}
				function plotWithOptions() {
					$.plot($("#cards-user-current-session"), resultArray1, {
						series: {
							stack: 1,
							lines: { show: false, fill: true, steps: false },
							bars: { show: true, barWidth: 0.15, align: "center" }
						},
						xaxis: {axisLabel:'User Names',ticks: labelArr,position: 'bottom', axisLabelFontSizePixels: 15, axisLabelFontFamily: 'Arial',minTickSize: 1},
						yaxis:{ position: 'left', axisLabel: 'Total Cards',axisLabelFontSizePixels: 15, axisLabelFontFamily: 'Arial'},
						grid: { hoverable: true, show: true }
					});
				}
				plotWithOptions();
				$("#cards-user-current-session").UseTooltip();
			});
		</script>
	</div>

}