@(message: String)

@main("Six Thinking Hats") {

	<h1>Process outline:</h1>
	</br>
	<svg  xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" height="200px" width="800px">

    	<line x1="0"  y1="50" x2="800" y2="50" style="stroke:#000000; stroke-width: 3px;"/>

      	<!-- White circles -->
      	<circle class="process_bubble white tooltipster" cx="35" cy="50" r="24" style="fill:#ffffff;"/>

      	<!-- Green circles -->
      	<circle class="process_bubble green tooltipster" title="Green: Anamika added a new card" cx="100" cy="50" r="18" style="fill:#00cc00;"/>
      	<circle class="process_bubble green tooltipster" title="Something happened here!" cx="150" cy="50" r="12" style="fill:#00cc00;"/>
      	<circle class="process_bubble green tooltipster" title="Something happened here!" cx="200" cy="50" r="14" style="fill:#00cc00;"/>

      	<!-- Red circles -->
      	<circle class="process_bubble red tooltipster" title="Something happened here!" cx="260" cy="50" r="12" style="fill:#ff0000;"/>
      	<circle class="process_bubble red tooltipster" title="Something happened here!" cx="300" cy="50" r="16" style="fill:#ff0000;"/>

      	<!-- Yellow circles -->
      	<circle class="process_bubble yellow tooltipster" title="Something happened here!" cx="360" cy="50" r="14" style="fill:#ffff00;"/>
      	<circle class="process_bubble yellow tooltipster" title="Something happened here!" cx="400" cy="50" r="12" style="fill:#ffff00;"/>
      	<circle class="process_bubble yellow tooltipster" title="Something happened here!" cx="440" cy="50" r="16" style="fill:#ffff00;"/>

      	<!-- Black circles -->
      	<circle class="process_bubble black tooltipster" title="Something happened here!" cx="500" cy="50" r="16" style="fill:#000000;"/>
      	<circle class="process_bubble black tooltipster" title="Something happened here!" cx="570" cy="50" r="18" style="fill:#000000;"/>
      	<circle class="process_bubble black tooltipster" title="Something happened here!" cx="630" cy="50" r="12" style="fill:#000000;"/>

		<!-- Blue circles -->
      	<circle class="process_bubble blue tooltipster" title="Something happened here!" cx="750" cy="50" r="18" style="fill:#0000ff;"/>
      	<circle class="process_bubble blue tooltipster" title="Something happened here!" cx="700" cy="50" r="12" style="fill:#0000ff;"/>


	</svg>

	<script type="text/javascript">
		$(document).ready(function() {
            $('.tooltipster').tooltipster();
        });
	</script>

}