@(message: String)

@main("Six Thinking Hats") {

	<h1>Process outline:</h1>
	</br>
	<svg  xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" height="200px" width="800px">

    	<line x1="0"  y1="50" x2="800" y2="50" style="stroke:#000000; stroke-width: 3px;"/>

      	<!-- White circles -->
      	<circle class="process_bubble white" cx="35" cy="50" r="24" style="fill:#ffffff;"/>

      	<!-- Green circles -->
      	<circle id="1" class="process_bubble green" title="Green: Anamika added a new card" cx="100" cy="50" r="18" style="fill:#00cc00;"/>
      	<circle id="1" class="process_bubble green" title="Something happened here!" cx="150" cy="50" r="12" style="fill:#00cc00;"/>
      	<circle id="1" class="process_bubble green" title="Something happened here!" cx="200" cy="50" r="14" style="fill:#00cc00;"/>

      	<!-- Red circles -->
      	<circle id="1" class="process_bubble red" title="Something happened here!" cx="260" cy="50" r="12" style="fill:#ff0000;"/>
      	<circle id="1" class="process_bubble red" title="Something happened here!" cx="300" cy="50" r="16" style="fill:#ff0000;"/>

      	<!-- Yellow circles -->
      	<circle id="1" class="process_bubble yellow" title="Something happened here!" cx="360" cy="50" r="14" style="fill:#ffff00;"/>
      	<circle id="1" class="process_bubble yellow" title="Something happened here!" cx="400" cy="50" r="12" style="fill:#ffff00;"/>
      	<circle id="1" class="process_bubble yellow" title="Something happened here!" cx="440" cy="50" r="16" style="fill:#ffff00;"/>

      	<!-- Black circles -->
      	<circle id="1" class="process_bubble black" title="Something happened here!" cx="500" cy="50" r="16" style="fill:#000000;"/>
      	<circle id="1" class="process_bubble black" title="Something happened here!" cx="570" cy="50" r="18" style="fill:#000000;"/>
      	<circle id="1" class="process_bubble black" title="Something happened here!" cx="630" cy="50" r="12" style="fill:#000000;"/>

		<!-- Blue circles -->
      	<circle id="1" class="process_bubble blue" title="Something happened here!" cx="750" cy="50" r="18" style="fill:#0000ff;"/>
      	<circle id="1" class="process_bubble blue" title="Something happened here!" cx="700" cy="50" r="12" style="fill:#0000ff;"/>


	</svg>

	<script type="text/javascript">
		$(function() {
			$(document).tooltip({
				position: {
					my: "center+20 bottom-20",
					at: "center top"
				}
			});
		});
	</script>

}