@(message: String)

@main("Six Thinking Hats") {
	
	
	<div class="jumbotron" id="content">
		<h1>@message</h1>
		<p class="lead">Six Thinking Hats and the associated idea parallel thinking provide a means for groups to plan thinking processes in a detailed and cohesive way, and in doing so to think together more effectively.</p>
		<div align="center">
			<img src="assets/img/hats.png"/>
		</div>
		<p><a id="start-button" class="btn btn-primary btn-lg" role="button">Get started!</a></p>
	</div>
	
	<div id="control-panel" class="well hidden">
		
		<div class="panel-group" id="accordion">
          <div class="panel panel-default">
             <div class="panel-heading">
               <h4 class="panel-title">
               <p><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" data-position="right" class="btn btn-info btn-sm" role="button">
                 show
               </a>
               </p>
               </h4>
             </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
              	<h2>Control options:</h2>
                <div class="lead">
                	As the creator of a Thinking Hats session you have control over the full process. Adjust the following parameters according to your needs.
                </div>
		        <p><a data-intro="This virtual implementation of the Six Thinking hats process consists of six seperate rooms that require each participant to take on different roles." data-position="left" id="help-button" class="btn btn-primary btn-lg" role="button">Help me with this!</a></p>
              </div>
            </div>
          </div>
  		<div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
                <p><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"  data-position="right" class="btn btn-info btn-sm" role="button"> show</a></p> 
             </h4>
           </div>
         <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
             <div class="row panel panel-default configbox">
			<div class="col-lg-12">
				<h3>Presets</h3>
			</div>
			<div class="col-lg-4">
				<select class="form-control" data-intro="We have created some tried and true presets for you to use, to get you started right away." data-position="right">
				  <option value="bono">Total De Bono</option>
				  <option value="disney">Walt Disney Allstars</option>
				</select>
			</div>
		</div>
		<div id="white-hat" class="row panel panel-default configbox">
			<div class="col-lg-12">
				<h3>White hat <span class="glyphicon glyphicon-remove deactivation"></span></h3>
			</div>			
		    <div class="col-lg-4">
			    <div class="input-group">		      		
			      <span class="input-group-addon">Hat time:</span>
			      <input type="number" class="form-control" name="whHatt">
			      <span class="input-group-addon">minutes</span>
			    </div><!-- /input-group -->
			</div>
		    <div class="col-lg-4">
			    <div class="input-group">
			      <span class="input-group-addon">Alone time:</span>
			      <input type="number" class="form-control" name="whAlonet">
			      <span class="input-group-addon">minutes</span>
			    </div><!-- /input-group -->
		  	</div>
		</div>
		<div id="yellow-hat" class="row panel panel-default configbox">
			<div class="col-lg-12">
				<h3>Yellow hat <span class="glyphicon glyphicon-remove deactivation"></span></h3>
			</div>			
		    <div class="col-lg-4">
			    <div class="input-group">		      		
			      <span class="input-group-addon">Hat time:</span>
			      <input type="number" class="form-control" name="yeHatt">
			      <span class="input-group-addon">minutes</span>
			    </div><!-- /input-group -->
			</div>
		    <div class="col-lg-4">
			    <div class="input-group">
			      <span class="input-group-addon">Alone time:</span>
			      <input type="number" class="form-control" name="yeAlonet">
			      <span class="input-group-addon">minutes</span>
			    </div><!-- /input-group -->
		  	</div>
		</div>
		<div id="red-hat" class="row panel panel-default configbox">
			<div class="col-lg-12">
				<h3>Red hat <span class="glyphicon glyphicon-remove deactivation"></span></h3>
			</div>			
		    <div class="col-lg-4">
			    <div class="input-group" data-intro="You can adjust the maximum time spent in each room manually. If all participants agree, you can continue to the next room before the timeout." data-position="right">		      		
			      <span class="input-group-addon">Hat time:</span>
			      <input type="number" class="form-control" name="reHatt">
			      <span class="input-group-addon">minutes</span>
			    </div><!-- /input-group -->
			</div>
		    <div class="col-lg-4">
			    <div class="input-group">
			      <span class="input-group-addon">Alone time:</span>
			      <input type="number" class="form-control" name="reAlonet">
			      <span class="input-group-addon">minutes</span>
			    </div><!-- /input-group -->
		  	</div>
		</div>
		<div id="green-hat" class="row panel panel-default configbox">
			<div class="col-lg-12">
				<h3>Green hat <span class="glyphicon glyphicon-remove deactivation"></span></h3>
			</div>
		    <div class="col-lg-4">
			    <div class="input-group">		      		
			      <span class="input-group-addon">Hat time:</span>
			      <input type="number" class="form-control" name="grHatt">
			      <span class="input-group-addon">minutes</span>
			    </div><!-- /input-group -->
			</div>
		    <div class="col-lg-4">
			    <div class="input-group">
			      <span class="input-group-addon">Alone time:</span>
			      <input type="number" class="form-control" name="grAlonet">
			      <span class="input-group-addon">minutes</span>
			    </div><!-- /input-group -->
		  	</div>
		</div>
		<div id="black-hat" class="row panel panel-default configbox">
			<div class="col-lg-12">
				<h3>Black hat <span class="glyphicon glyphicon-remove deactivation"></span></h3>
			</div>			
		    <div class="col-lg-4">
			    <div class="input-group">		      		
			      <span class="input-group-addon">Hat time:</span>
			      <input type="number" class="form-control" name="blHatt">
			      <span class="input-group-addon">minutes</span>
			    </div><!-- /input-group -->
			</div>
		    <div class="col-lg-4">
			    <div class="input-group" data-intro="The alone time defines the period during which all participants are not seeing anyone elses ideas." data-position="left">
			      <span class="input-group-addon">Alone time:</span>
			      <input type="number" class="form-control" name="blAlonet">
			      <span class="input-group-addon">minutes</span>
			    </div><!-- /input-group -->
		  	</div>
		</div>
		<div id="blue-hat" class="row panel panel-default configbox">
			<div class="col-lg-12">
				<h3>Blue hat <span class="glyphicon glyphicon-remove deactivation"></span></h3>
			</div>			
		    <div class="col-lg-4">
			    <div class="input-group">		      		
			      <span class="input-group-addon">Hat time:</span>
			      <input type="number" class="form-control" name="bluHatt">
			      <span class="input-group-addon">minutes</span>
			    </div><!-- /input-group -->
			</div>
		    <div class="col-lg-4">
			    <div class="input-group">
			      <span class="input-group-addon">Alone time:</span>
			      <input type="number" class="form-control" name="bluAlonet">
			      <span class="input-group-addon">minutes</span>
			    </div><!-- /input-group -->
		  	</div>
		</div>
          </div>
         </div>
       </div>
     
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <p><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" data-position="right" class="btn btn-info btn-sm" role="button">
          show
        </a></p>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row panel panel-default configbox">
			<div class="col-lg-12">
				<h3>Participants to invite by mail</h3>
			Add people by adding their email address. Hit enter or use ',' to separate!
			</div>		
			<div class="col-lg-8">
				<input class="form-control" type="text" id="tokenfield">
			</div>
		</div>
		</br></br>	
		<p><a href="/1" id="start-button" data-intro="After choosing one of the predefined templates or setting up your own one, you can get started right away by clicking on this button!" data-position="left" class="btn btn-primary btn-lg" role="button">Initiate session!</a></p>
      </div>
    </div>
  </div>
</div>
 }
	</div>
	<script type="text/javascript">
	$(function() {
		$('.tooltipster').tooltipster();
		$('#tokenfield').tokenfield();
		$('#start-button').click(function() {
  			$('#control-panel').removeClass('hidden');
  			$("#control-panel").scrollView();
		});
		$('#help-button').click(function() {
  			$('body').chardinJs('start')
		});	
		$('.deactivation').click(function() {

		});
    });
	</script>
}