@(message: String, user: User, sessionConfig: Form[SessionConfig]) 
@import controllers.ThinkingSessions
@import models._
@import models.forms._
@import helper._


@main(null, null) {
	<div class="row">
		<div id="content" class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3" style="margin-top: 20px;">				 	
					<div class="row text-center">
						<img src="assets/img/hats.png" width="300"/>
						<h1>Six Thinking Hats</h1>
					</div>
				</div>
				<div class="col-md-8 col-md-offset-2">	
					<div class="row">
						<p class="lead text-center">
							We use a parallel thinking process in order to help you and the
							people in your group to be more productive, focused, and mindfully involved.
						</p>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-3">	
					<div class="row">
						@helper.form(action = routes.ThinkingSessions.createSession,
							'id -> "session-form", 'role->"form", 'class -> "") {
							
							@if(user.mail == None) {
								<div class="form-group">
									<label for="adminMailAddress">It seems this is the first time you're here, what is your e-mail address?</label>
									<input id="adminMailAddress" class="form-control" type="text" name="adminMailAddress" placeholder="your@@email.com"/>
								</div>
							} else {
								<div class="form-group text-center">
									<div class="alert alert-info">
										Welcome back, <strong>@user.name</strong>!
									</div>
								</div>
							}

							<div class="form-group">
								<label for="topic">First, think of a good title:</label>
								<input id="topic" class="form-control" type="text" required name="topic" placeholder="Try and be specific!"/>
							</div>
							
							<div class="form-group">
								<label for="mailAddresses">Now let's invite some of your friends!</label>
								<div class="input-group">
									<input id="mailAddresses" class="tokenfield form-control" type="text" name="mailAddresses" placeholder="john@@company.com"/>
									<span class="input-group-addon">separate with ,</span>
								</div>
							</div>
							
							<div class="form-group col-md-6 col-md-offset-3 center">
								<button type="submit" class="btn btn-success btn-lg btn-block">
									<span class="glyphicon glyphicon-plus"></span>
									Get Started	
								</button>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function() {
			$('.tokenfield').tokenfield();
		});
	</script>
}
