@(title: String, hat: Hat)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>@title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
	<!-- less is compiled client-side -->
	<link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
	<link href="@routes.Assets.at("css/tooltipster.css")" rel="stylesheet">
	<link href="@routes.Assets.at("css/tooltipster.css")" rel="stylesheet">
	<link href="@routes.Assets.at("css/jquery.qtip.min.css")" rel="stylesheet">
	<link href="@routes.Assets.at("css/bootstrap-tokenfield.css")" rel="stylesheet">
	<link href="@routes.Assets.at("css/progress.css")" rel="stylesheet">
	<link href="@routes.Assets.at("css/jquery-ui-1.10.3.custom.css")" rel="stylesheet">
	<link href="@routes.Assets.at("css/jquery.fancybox.css")" rel="stylesheet">
    <!-- Page Specific CSS -->
     
        
	<!-- all styles specific to our app, with timestamp to force refresh -->
	<link href="@routes.Assets.at("css/style.css")?@System.currentTimeMillis" rel="stylesheet">        
	
	<link rel="shortcut icon" href="@routes.Assets.at("img/favicon.png")">
	
	<!-- 
	The jsRoutes action let's you use the routes in JavaScript, caution: not all routes are available.
	You can extend the available routes in Application.scala
	-->
	<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
	
	<script type="text/javascript" src="@routes.Assets.at("js/jquery.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/jquery-ui-1.10.4.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/handlebar.1.1.2.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/jquery.tooltipster.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/jquery.tooltipster.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/jquery.qtip.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/bootstrap-tokenfield.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/autobahn.ws.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/jquery.fancybox.pack.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/jquery.tablesorter.js")"></script>
</head>


<body class="@(if (hat != null) (hat.name.toLowerCase) else "")">

	<div class="container">
	
		<section id="topnav" class="row">
			@topnav.render(title)
		</section>
		
		<main>
        	@content
        </main>
	        
	</div>
</body>
</html>