@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>@title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- less is compiled client-side -->
	<link href="@routes.Assets.at("less/bootstrap/bootstrap.less")" rel="stylesheet/less">
	<link href="@routes.Assets.at("less/progressbar/main.less")" rel="stylesheet/less">
	<link href="@routes.Assets.at("less/progressbar/progress.less")" rel="stylesheet/less">
	<link href="@routes.Assets.at("less/bootstrap/style.less")" rel="stylesheet/less">
	<link href="@routes.Assets.at("less/bootstrap/config.less")" rel="stylesheet/less">
	<link href="@routes.Assets.at("css/tooltipster.css")" rel="stylesheet">
	
	
	<!-- all styles specific to our app -->
	<link href="@routes.Assets.at("css/style.css")" rel="stylesheet">	

    <link rel="shortcut icon" href="@routes.Assets.at("img/favicon.png")">
  
	<script type="text/javascript" src="@routes.Assets.at("js/jquery.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/less-1.3.3.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/jquery.tooltipster.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/jquery.form.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/prefix-free.js")"> </script>
	
	<script type="text/javascript" src="@routes.Assets.at("js/scripts.js")"></script>
	<script	type="text/javascript" src="@routes.Assets.at("js/handler.js")"></script>
</head>

<body>
	<nav>  
    <ul>  
        <li><a rel="external" href="#">Home</a></li>  
        <li><a rel="external" href="#">Six thinking Hats</a></li>  
    </ul>  
</nav>  
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron" id="content">
				@content
			</div>
		</div>
	</div>
</div>
</body>
</html>
