<div id="svg">
	 <svg  xmlns="http://www.w3.org/2000/svg"
	 xmlns:xlink="http://www.w3.org/1999/xlink" id="progressBar" height="50" width="100%">
		<defs>
			<style type="text/css"><![CDATA[
				line {
					stroke: #777777;
					fill: #777777;
					stroke-width: 2px;
				}
				circle {
					stroke-width: 2px;
				}
				/* stroke is line color, fill is background-color */
				.blue { stroke: #36bcec; fill: #36bcec; }
				.white { stroke: #ddd; fill: #fff; }
				.red { stroke: #994225; fill: #c25e3d; }
				.yellow { stroke: #dabd16; fill: #F0D850; }
				.green { stroke: #5cb847; fill: #5cb847; }
				.black { stroke: #051a1a; fill: #051a1a; }
			]]></style>
		</defs>
		
		<line x1="0" y1="25" x2="100%" y2="25" />
		
		<circle class="white" cx="110%" cy="25" r="5"/>
		<circle class="red" cx="110%" cy="25" r="5"/>
		<circle class="yellow" cx="110%" cy="25" r="5"/>
		<circle class="black" cx="110%" cy="25" r="5"/>
		<circle class="green" cx="110%" cy="25" r="5"/>
		<circle class="blue" cx="110%" cy="25" r="5"/>
		
	</svg>
</div>