<div id="svg">
     <svg  xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" height="70px" id="progressBar" preserveAspectRatio="xMinYMin meet"
viewBox="0 0 810 40">
		<defs>
			<style type="text/css"><![CDATA[
				line {
					stroke: #000;
					fill: #000;
					stroke-width: 2px;
				}
				circle {
					stroke-width: 2px;
				}
				/* stroke is line color, fill is background-color */
				.blue { stroke: #36bcec; fill: #36bcec; }
				.white { stroke: #ddd; fill: #fff; }
				.red { stroke: #994225; fill: #c25e3d; }
				.yellow { stroke: #dabd16; fill: #F0D850; }
				.green { stroke: #5cb847; fill: #5cb847; }
				.black { stroke: #051a1a; fill: #051a1a; }
			]]></style>
		</defs>
		
		<line x1="0" y1="40" x2="810" y2="40" />
		
		<circle class="white" cx="50" cy="40" r="5"/>
		<circle class="red" cx="165" cy="40" r="5"/>
		<circle class="yellow" cx="325" cy="40" r="5"/>
		<circle class="black" cx="485" cy="40" r="5"/>
		<circle class="green" cx="635" cy="40" r="5"/>
		<circle class="blue" cx="795" cy="40" r="5"/>
		
	</svg>
</div>